/* Theme for hightable */
.hightable {
  /* texts */
  --menu-color: var(--gray-12);
  --menu-item-color: var(--gray-12);
  --menu-button-color: var(--gray-12);
  --primary-sort-icon-color: inherit;
  --header-color: var(--gray-12);

  --row-number-color: var(--gray-a11);
  --text-color: var(--gray-a11);

  --secondary-sort-icon-color: var(--gray-5);

  /* backgrounds */
  --background-color: var(--accent-2);
  --menu-item-background-color: var(--accent-2);

  --header-background-color: var(--gray-3);
  --focusable-background-color: var(--gray-3);
  --menu-button-hovered-background-color: var(--gray-3);
  --menu-button-focused-background-color: var(--gray-3);
  --row-hovered-background-color: var(--gray-3);

  --menu-background-color: var(--gray-3);
  --menu-button-background-color: var(--gray-3);
  --menu-item-hovered-background-color: var(--gray-3);
  --row-number-background-color: var(--gray-3);
  --corner-cell-background-color: var(--gray-3);
  --row-selected-background-color: var(--gray-3);

  --focus-background-color: var(--gray-5);
  --row-number-hovered-background-color: var(--gray-5);
  --row-number-selected-background-color: var(--gray-5);

  --resize-indicator-background-color: var(--gray-12);

  /* borders */
  --cell-border-color: var(--gray-5);
  --cell-hovered-right-border-color: var(--gray-5);
  --header-bottom-border-color: var(--gray-5);
  --menu-border-color: var(--gray-5);
  --menu-inner-border-color: var(--gray-5);
  --row-number-hovered-right-border-color: var(--gray-5);
  --corner-cell-right-border-color: var(--gray-5);
  --row-number-right-border-color: var(--gray-5);
  --top-border-color: var(--gray-5);

  --focus-border-color: var(--gray-12);
  --focusable-border-color: var(--gray-12);
  --resizer-hovered-right-border-color: var(--gray-12);

  --top-border-height: 1px;
  --focus-border-width: 1px;

  /* other tweaks */
  th,
  td {
    font-family: var(--code-font-family);
  }
  thead {
    th {
      font-weight: normal;
      border-bottom-width: 1px;
      [role="spinbutton"]:focus,
      [role="spinbutton"]:hover {
        margin: 0;
      }
    }
    td:first-child {
      box-shadow: none;
    }
  }

  tbody {
    [role="rowheader"] {
      text-align: right;
      padding-right: 0.5em;
    }
  }

  /* fix bug in hightable CSS */
  thead td:first-child,
  tbody [role="rowheader"] {
    &:focus {
      background-color: var(--focus-background-color);
    }
  }
}
