/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

* {
  box-sizing: border-box;
  font-family: "Mulish", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 22pt;
}
h2 {
  margin-top: 10px;
  font-size: 12pt;
}
p {
  margin: 15px 0;
}
code {
  font-family: monospace;
  padding: 10px;
  white-space: pre-wrap;
  word-break: break-all;
}
sub {
  align-items: center;
  display: flex;
  gap: 5px;
}
sub img {
  cursor: pointer;
}

/* dropzone */
.dropzone {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.dropzone.hover .overlay {
  display: flex;
}
.overlay {
  font-size: 125%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(240, 240, 240, 0.6);
  backdrop-filter: blur(4px);
  display: none;
  padding: 12px;
  z-index: 40;
}
.target {
  border: 6px dashed #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 100%;
  width: 100%;
}

/* sidebar */
nav.sidebar {
  height: 100vh;
  width: 48px;
  height: 100vh;
}
nav.sidebar > div {
  background-image: linear-gradient(to bottom, #f2f2f2, #e4e4e4);
  box-shadow: 0 0 6px rgba(10, 10, 10, 0.4);
  height: 100vh;
  position: absolute;
  width: 48px;
  z-index: 30;
}

/* content area */
main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

#app {
  flex: 1;
}

/* content area */
.content-container {
  min-width: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  padding: 0;
  /* no outer scrollbars */
  overflow: hidden;
}

.top-header {
  align-items: center;
  border-bottom: 1px solid #ddd;
  background: #eee;
  display: flex;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: 600;
  height: 32px;
  justify-content: space-between;
  min-height: 32px;
  padding-left: 20px;
  text-decoration-thickness: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.view-header {
  align-items: center;
  background-color: #f2f2f2;
  color: #444;
  display: flex;
  gap: 16px;
  height: 24px;
  padding: 0 8px;
  /* all one line */
  text-overflow: ellipsis;
  white-space: nowrap;
}
.viewer {
  display: flex;
  flex: 1;
  flex-direction: column;
  white-space: pre-wrap;
  overflow-y: auto;
}

/* welcome */
#welcome {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 100vh;
  max-width: 640px;
  margin: 0 auto;
  padding: 10px;
  overflow-y: auto;
}
#welcome > div {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
/* quick link buttons */
.quick-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}
.quick-links li {
  display: flex;
  flex: 1 1 calc(50% - 10px);
  min-width: 0;
}
.quick-links a {
  background-position: 10px center;
  background-size: 18px;
  border: 1px solid #444;
  border-radius: 8px;
  font-size: 8pt;
  overflow: hidden;
  padding: 12px;
  padding-left: 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.quick-links a:hover {
  background-color: #ddf8dd;
}
.huggingface {
  background: url("assets/huggingface.svg") no-repeat 8px center;
}
.github {
  background: url("assets/git.svg") no-repeat 8px center;
}
.aws {
  background: url("assets/s3.svg") no-repeat 8px center;
}
.azure {
  background: url("assets/azure.svg") no-repeat 8px center;
}
.badges {
  display: flex;
  gap: 10px;
}

/* file upload */
input[type="file"] {
  display: none;
}
.overlay {
  font-size: 125%;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(240, 240, 240, 0.6);
  backdrop-filter: blur(4px);
  display: none;
  padding: 12px;
  z-index: 40;
}
.over .overlay {
  display: flex;
}

/* layout */
.layout {
  margin: 10px;
  max-width: 480px;
}
.layout,
.layout .group,
.layout .cell {
  background-color: rgba(100, 80, 180, 0.05);
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  padding: 4px;
  word-break: break-all;
}
.cell,
.group-header {
  display: flex;
}
.group-header > label,
.cell > label {
  display: flex;
  flex: 1;
  font-size: 12px;
  font-weight: normal;
  justify-content: flex-start;
}
.group-header > span {
  font-size: 10px;
}

.layout div ul {
  list-style: none;
}
.layout div li {
  font-size: 10px;
  padding: 2px 4px;
  text-align: right;
}

.hightable thead td:first-child {
  background: url("https://hyperparam.app/assets/table/hyparquet.svg") #f9f4ff
    no-repeat center 6px;
  min-width: 0;
  width: 0;
}

.json {
  background-color: #22222b;
  padding-left: 20px;
}
