@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Berkeley Mono';
  src: url('/fonts/BerkeleyMono-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

:root {
  --gray-1: #fcfcfc;
  --gray-5: #e0e0e0;
  --gray-8: #bbbbbb;
  --gray-11: #646464;
  --accent-8: var(--gray-8);
  --accent-11: var(--gray-11);
  --font-ibm-plex: "IBM Plex Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --code-font-family: 'Berkeley Mono';
  --default-font-family: var(--font-ibm-plex);
}

* {
  box-sizing: border-box;
  font-family: var(--default-font-family);
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 22pt;
  font-weight: 600;
  padding-bottom: 1rem;
}
h2 {
  margin-top: 10px;
  font-size: 16pt;
  font-weight: 600;
}
p {
  margin: 15px 0;
}
code {
  font-family: var(--code-font-family);
  padding: 10px;
  white-space: pre-wrap;
  word-break: break-all;
}
sub {
  align-items: center;
  display: flex;
  gap: 5px;
}
sub img {
  cursor: pointer;
}

/* dropzone */
.dropzone {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.dropzone.hover .overlay {
  display: flex;
}
.overlay {
  font-size: 125%;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(240, 240, 240, 0.6);
  backdrop-filter: blur(4px);
  display: none;
  padding: 12px;
  z-index: 40;
}
.target {
  border: 6px dashed #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 100%;
  width: 100%;
}

/* content area */
main {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

#app {
  flex: 1;
}

/* content area */
.content-container {
  min-width: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  padding: 0;
  /* no outer scrollbars */
  overflow: hidden;
}

.top-header {
  align-items: center;
  border-bottom: 1px solid #ddd;
  background: #eee;
  display: flex;
  font-family: var(--code-font-family);
  font-size: 18px;
  font-weight: 700;
  height: 32px;
  justify-content: space-between;
  min-height: 32px;
  padding-left: 20px;
  text-decoration-thickness: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.view-header {
  align-items: center;
  background-color: #f2f2f2;
  color: #444;
  display: flex;
  gap: 16px;
  height: 24px;
  padding: 0 8px;
  /* all one line */
  text-overflow: ellipsis;
  white-space: nowrap;
}
.viewer {
  display: flex;
  flex: 1;
  flex-direction: column;
  white-space: pre-wrap;
  overflow-y: auto;
}

/* welcome */
#welcome {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 100vh;
  max-width: 640px;
  margin: 0 auto;
  padding: 10px;
  overflow-y: auto;
}
#welcome > div {
  display: flex;
  flex-direction: column;
  margin: auto 0;
}
/* quick link buttons */
.quick-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}
.quick-links li {
  display: flex;
  min-width: 0;
  border: 1px solid var(--gray-5);
  background: var(--gray-1);

  a {
    text-decoration: none;
    &:hover h2 {
      text-decoration: underline;
    }
  }
  &:hover {
    border-color: var(--accent-8);
  }
}
.quick-links a {
  color: var(--accent-11);
  overflow: hidden;
  padding: 12px;
  padding-left: 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

/* file upload */
input[type="file"] {
  display: none;
}
.overlay {
  font-size: 125%;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(240, 240, 240, 0.6);
  backdrop-filter: blur(4px);
  display: none;
  padding: 12px;
  z-index: 40;
}
.over .overlay {
  display: flex;
}

/* layout */
.layout {
  margin: 10px;
  max-width: 480px;
}
.layout .group,
.layout .cell {
  background-color: rgba(100, 100, 100, 0.05);
  border: 1px solid #ccc;
  font-size: 12px;
  padding: 4px 20px;
  margin-top: 8px;
  word-break: break-all;
}
.cell,
.group-header {
  display: flex;
}
.group-header > label,
.cell > label {
  display: flex;
  flex: 1;
  font-size: 12px;
  font-weight: normal;
  justify-content: flex-start;
}
.group-header > span {
  font-size: 10px;
}

.layout div ul {
  list-style: none;
}
.layout div li {
  font-size: 10px;
  padding: 2px 4px;
  text-align: right;
}

.loading {
  align-items: center;
  display: flex;
  flex: 1;
  font-size: 125%;
  justify-content: center;
}
.loading::after {
  content: "Loading…";
}

.hightable {
  --top-border-color: #666;
  --focus-border-width: 2px;
  --focus-border-color: #222;
  --focus-background-color: #eee;
  --focusable-border-color: #666;
  --focusable-background-color: #f1f1f1;
  --light-border-color: #c9c9c9;
  --mock-row-label-background: #f1f1f1;

  /* TODO(SL): remove once https://github.com/hyparam/hightable/issues/273 is fixed */
  thead {
    th {
      background-color: #f1f1f1;
      & > button {
        background-color: #f1f1f1;
        &:focus {
          background-color: #dbdbdb;
        }
      }      
    }
    &:hover > button,
    & > button:focus,
    & > button:focus-visible,
    & > button[aria-expanded="true"] {
      background-color: #dbdbdb;
    }
  }
  th[aria-sort]::after {
    color: #d5d5d5;
  }

  thead [role="spinbutton"] {
    &:hover {
      background-color: #aaa;
    }
    &:focus {
      background-color: #aaa;
    }
  }
  tbody [role="rowheader"] {
    background-color: #f1f1f1;
  }
  tr[aria-selected="true"] {
    background-color: #bfbfbf;
  }
  tr[aria-selected="true"] [role="rowheader"] {
    background-color: #bbb;
  }
  thead td:first-child {
    background-color: #f9f9f9;
  }
  thead td:first-child[aria-disabled="false"] {
    background: #f9f9f9;
  }
  @media (hover: hover) {
    tbody tr:hover {
      background-color: #dbdbdb;
    }
    tbody tr:hover td:first-child {
      background-color: #ccc;
    }
  }
}

.json {
  background-color: #22222b;
  padding-left: 20px;
}

.hightable {
  thead td:first-child {
    background: url("assets/hyparquet.svg") #f9f9f9
      no-repeat center 6px;
    min-width: 0;
    width: 0;
  }

  [role="menu"] > button[role="menuitem"]  {
    color: #444;
  }

  tbody [role="cell"] {
    font-family: var(--code-font-family);
  }
}
